* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card{
  width: 600px;
  background-color:white;
  border-radius: 10px;
  padding: 80px 40px;
}
.outer{
  width: 100%;
  height: 20px;
  background: gray;
  border-radius: 20px;
}
.inner{
  height: 100%;
  width: 0%;
  background-color: green;
  border-radius: 50px;
}
h1{
  font-family: monospace;
  text-align: center;
  font-size: 25px;
  margin-bottom: 5%;
}
h1 span{
  color: blue;
}
.button-download{
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 20%;
}
h2{
  font-size: 4rem;
  font-family: monospace;
}
button{
  padding: 15px 20px;
  height: 50px;
  width: 30%;
  font-size: 20px;
  background-color: green;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
button:active{
  scale: 0.95;
}