*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
main h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
}
img{
    width: 200px;
    height: 250px;
    object-fit: contain;
}
.buttons{
    display: flex;
    gap: 20px;
}
button{
    width: 120px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.on{
    background-color: greenyellow;
    box-shadow: 0 0 10px greenyellow, 0 0 30px greenyellow;
    transition: 0.3s;
}
.off{
    background-color: red;
    box-shadow: 0 0 10px red, 0 0 30px red;
    transition: 0.3s;
}
.slow-blink {
    animation: slowBlink 5s ease-out;
}
@keyframes slowBlink {
    0% { opacity: 0.3; }
    20% { opacity: 1; }
    40% { opacity: 0.5; }
    60% { opacity: 1; }
    100% { opacity: 0.9; }
}
.balloons{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
}
.balloon {
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: pink;
    border-radius: 50%;
    animation: fly 4s linear forwards;
}

@keyframes fly {
    0% {
        transform: translateY(100vh) scale(0.8);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-20vh) scale(1.2);
        opacity: 0;
    }
}

.sad-emojis {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
}

.emoji {
    position: absolute;
    font-size: 40px;
    animation: fall 3.5s linear forwards;
    opacity: 0.9;
}

@keyframes fall {
    0% {
        transform: translateY(-20vh) translateX(0);
        opacity: 0.8;
    }
    50% {
        transform: translateY(50vh) translateX(20px);
        opacity: 1;
    }
    100% {
        transform: translateY(120vh) translateX(-20px);
        opacity: 0;
    }
}
