* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(12, 202, 148);
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 9;
  
}

button:active{
 scale: 0.95;
}