/* Get-ready CSS boilerplate */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}
body{
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
button{
 padding: 15px 30px;
 border-radius: 20px;
 background-color: aquamarine;
 color: black;
 font-size: 30px;
 cursor: pointer;
 position: relative;
 z-index: 9;
}
button:active{
    scale: 0.95;
}
h1{
    white-space: nowrap;
}
