*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}
body{
    background-color: coral;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#container{
    height: 400px;
    width: 300px;
    border-radius:50px ;
    background-color: #ffff;
    position: relative;
}
#container img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
}
#icons{
    cursor: pointer;
    font-size: 30px;
    justify-content: space-between;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform ease 0.5s;
}
.parallax-fly{
    position: fixed;
    bottom: 0;
    font-size: 25px;
    pointer-events: none;
    animation: parallaxMove 3.5s linear forwards;

}

@keyframes parallaxMove{
    0%{
        transform: translate(0,0) rotate(0deg);
        opacity: 1;
    }
    25%{
        transform: translate(-30px,-25vh) rotate(15deg);
    }
    50%{
        transform: translate(20px,-50vh) rotate(-15deg);
    }
    75%{
        transform: translate(-25px,-80vh) rotate(8deg);
    }
    100%{
        transform: translate(30px,-120vh) rotate(-8deg);
        opacity: 0;
    }
}

.smile-drop{
    position: fixed;
    top: -10vh;
    animation: smileDown 2.2s ease-in forwards;
    pointer-events: none;
}

@keyframes smileDown{
    0%{
        transform: translateY(0) scale(0.8) rotate(0deg);
        opacity: 1;
    }
    30%{
        transform: translateY(20vh) scale(1.2)rotate(10deg);
    }
    60%{
        transform: translateY(50vh) scale(1) rotate(-10deg);

    }
    100%{
        transform: translateY(110vh) scale(0.8) rotate(0deg);
        opacity: 0;
    }
}  

.sad-shake{
    position: fixed;
    top: -5vh;
    animation: sadShakeDown 5s ease-in forwards;
    pointer-events: none;
}
@keyframes sadShakeDown {
    0% {
        transform: translateY(0) rotate(0) scale(1);
        opacity: 1;
    }
    10% {
        transform: translateY(5px) rotate(-3deg);
    }
    20% {
        transform: translateY(-5px) rotate(3deg);
    }
    30% {
        transform: translateY(5px) rotate(-3deg);
    }
    40% {
        transform: translateY(-5px) rotate(3deg);
    }
    50% {
        transform: translateY(10vh) rotate(0);
    }
    100% {
        transform: translateY(110vh) rotate(0deg);
        opacity: 0;
    }
}
